@use './global';

.Example3 {
    max-width: 700px;

    .HeightItem {
        padding: 100px;
        color: white;
        background-color: global.$dark-red;
        font-family: global.$font;

        h1 {
            font-weight: 100;
        }

    }
}